* {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 25%;
}

.card-body {
    border: 1px solid #f1f1f1;
    background-color: #f1f1f183;
    padding: 5%;
    padding-top: 0%;
    margin-top: 3%;
    border-radius: 20px;
}

.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 4px solid #f1f1f1;
}

.main {
    float: left;
    width: 55%;
    padding: 0 20px;
    overflow: hidden;
}

.right {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}

.forceinfo {
    display: flexbox;
    width: 100%;
}

.social-div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.social {
    display: inline-flex;
    list-style: none;

}

.social>li {
    margin: 3%;
}

.select {
    max-width: 100%;
    overflow: auto"

}

@media only screen and (max-width:1024px) {

    /* For tablets: */
    .main {
        width: 100%;
        padding: 0;
    }

    .right {
        width: 100%;
    }

    .menu {
        width: 100%;
    }

}

@media only screen and (max-width:768px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}